/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/02/2019, 03:51:21
    Author     : augus
*/

#messagesTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#messagesTable td, #messagesTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#messagesTable tr:nth-child(even){background-color: #f2f2f2;}

#messagesTable tr:hover {background-color: #ddd;}

#messagesTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f4590a;
    color: black;
}

button {
    background-color: #f4590a;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 75px;
    cursor: pointer;
}

input, select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    color: #f4590a;
}