<div>
    <div>
        <input id="username"/><button onclick="service.get()">Change user</button>
    </div>
    <div>
        <input id="addMessage"/><button onclick="service.add()">Add Message</button>
    </div>
    <table id="messagesTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Date Created</th>
                <th>Edited</th>
                <th>Text</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
